@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: oklch(0.13 0.028 261.692);
}

h1 {
  margin: 0;
  padding: 0;
}

.header-div {
  font-family: "Boldonse", system-ui;
}

.content-div {
  font-family: "Bungee Shade", sans-serif;
}